.news {
	list-style-type: none;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	cursor: pointer;
	/*box-sizing: border-box;
	background-color: gray;
	border: 1px solid #0d0d0d;*/
}

.news:first-child {
	margin-top: 50px;
}

.news:hover .news_title {
	color: #0132b2;
}

.news:hover {
	background-color: #e0e0e0;
	
	/*background-color: #89bfd9;*/
}

.news_body {
	min-height: 50px;
	box-sizing: border-box;
}

.news_head {
	width: 10%;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 15px;
	font-size: 12pt;

	font-family: Dudka Regular;
	color: #00749e;
}

.news_title {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	font-size: 12pt;
	line-height: 150%;

	font-family: Dudka Bold;
}

.news_date {
	margin-top: 5px;
	text-align: center;
	font-size: 14pt;
}


.news_active {
	border-right: 4px solid #658da1; /* a3a3a3*/
	color: #0032ab;
}