.content {
	margin: 0 4.2%;
	width: 65%;
	height: auto;
	/*background-color: lightgray;*/
}

.content_head {
	border-bottom: 2px solid #616161;
}

.content_head p {
	margin: 0;
}

.content_title {
	/*float: left;*/
	font-size: 20pt;
	font-weight: 900;
	line-height: 150%;
	padding-left: 0px;
	padding-top: 0;
	padding-bottom: 25px;
	color: #3b3b3b;
}

.content_lead {
	line-height: 150%;
	padding-bottom: 25px;
	font-size: 14pt;
}

.content_body {
	margin-top: 30px;
	font-size: 12pt;
	line-height: 170%;
	padding: 0 10px;
	padding-bottom: 50px;
	color: #242424;
}

.content_body>div {
	min-height: 300px;
}

.content_body img {
	margin: 20px 12.5%;
	max-width: 700px;
	max-height: 500px;
}

/*.content_lead {
	font-size: 16pt;
	margin-bottom: 25px;
	line-height: 180%;
	color: #404040;
}

.content_lead p {
	margin: 0;
}*/

.content_link {
	margin-top: 50px;
}

a, a:active {
	text-decoration: none;
	color: #0000ee;
}

.content_bar {
	position: sticky;
	top: 0;
	margin: 0 -4.9%;
	width: 150%;
	background-color: white;
	padding-top: 10px;
}

.content_bar ul {
	position: absolute;
	padding: 0;
	margin: 0;
}

.content_edit_button {
	float: left;
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: white;
	background-size: 35px;
	background-image: url(../icons/edit_button.png);
	background-repeat: no-repeat;
	border-radius: 5px;
	cursor: pointer;
	/*
	https://cdn-icons-png.flaticon.com/512/9714/9714318.png
	https://cdn-icons-png.flaticon.com/512/9533/9533098.png
	https://cdn-icons-png.flaticon.com/512/9759/9759207.png
	https://cdn-icons-png.flaticon.com/512/9283/9283127.png
	*/
}

.content_style_buttons {
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	display: inline-block;
	font-size: 20pt;
	/*width: 100%;*/
	color: #87c5ff;
	border-bottom: 2px solid #52abff;
}

.content_style_buttons_active {
	color: #0084ff;
}

.content_style_buttons_bold {
	float: left;
	display: inline-block;
	font-weight: 600;
	margin-left: 10px;
	cursor: pointer;
	user-select: none;
}

.content_style_buttons_italic {
	float: left;
	display: inline-block;
	font-style: italic;
	margin-left: 10px;
	cursor: pointer;
	user-select: none;
}

.content_style_buttons_underline {
	float: left;
	display: inline-block;
	text-decoration: underline;
	margin-left: 10px;
	cursor: pointer;
	user-select: none;
}

.content_style_buttons_quote {
	display: inline-block;
	margin-left: 6px;
	width: 28px;
	height: 25px;
	background-size: 30px;
	background-image: url(../icons/quote_2.png);
	background-repeat: no-repeat;
	cursor: pointer;
	/*
		https://img.icons8.com/?size=512&id=c41KdEyb1Q61&format=png
		https://img.icons8.com/?size=512&id=1BYH0ZFsjeIy&format=png
	*/
}

.content_style_buttons_link {
	display: inline-block;
	margin-left: 6px;
	width: 26px;
	height: 26px;
	background-size: 30px;
	background-image: url(../icons/icon_link.png);
	background-repeat: no-repeat;
	cursor: pointer;
	/*
		https://img.icons8.com/?size=512&id=c41KdEyb1Q61&format=png
		https://img.icons8.com/?size=512&id=1BYH0ZFsjeIy&format=png
	*/
}

.content_style_buttons_image {
	display: inline-block;
	margin-left: 6px;
	width: 28px;
	height: 24px;
	background-size: 28px;
	background-image: url("../icons/icon_img_upload_3.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

.content_style_buttons_image_upload {
	display: inline-block;
	margin-left: 6px;
	width: 28px;
	height: 24px;
	background-size: 28px;
	background-image: url(../icons/icon_img_link.png);
	background-repeat: no-repeat;
	cursor: pointer;
	/*
		https://img.icons8.com/?size=512&id=bjHuxcHTNosO&format=png
		https://img.icons8.com/?size=512&id=41735&format=png
		https://img.icons8.com/?size=512&id=yRoFUHiH0uft&format=png
	*/
}

.content_style_buttons_image_upload_input {
	display: none;
}

.content_style_buttons_link_input {
	vertical-align: middle;
	position: absolute;
	margin-top: 3px;
	width: 280px;
	height: 30px;
	background-color: #a6d0f5;
	border-radius: 6px;
	border: 2px solid #52abff;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0rem;
	padding-bottom: 0.5rem;
	/*
		#93badb
	*/
}

.content_style_buttons_link_input input {
    vertical-align: middle;
	display: inline-block;
    width: 80%;
    height: 1.5em;
	padding: 0;
	margin: 0;
	font-size: 1rem;
	box-sizing: border-box;
	outline: none;
}

.content_style_buttons_link_input_enter {
	position: absolute;
	display: inline-block;
	float: right;
	right: 2.1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;

	width: 1em;
	height: 1em;
	background-size: 1em;
	background-image: url(../icons/back_arrow_3.png);
	background-repeat: no-repeat;
	cursor: pointer;
	box-sizing: border-box;
}

.content_style_buttons_link_input_abort {
	position: absolute;
	display: inline-block;
	float: right;
	right: 0.2rem;
    top: 0;
    bottom: 0;
    margin: auto 0;

	width: 1em;
	height: 1em;
	background-size: 1em;
	background-image: url(../icons/cross_1.png);
	background-repeat: no-repeat;
	cursor: pointer;
	box-sizing: border-box;
	/*
		https://img.icons8.com/?size=512&id=79023&format=png
	*/
}

.content_reset_button {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 26px;
	height: 24px;
	background-color: white;
	background-size: 28px;
	background-image: url(../icons/reset_button.png);
	background-repeat: no-repeat;
	cursor: pointer;
	border-left: 2px solid #52abff;
	padding-left: 5px;
	background-origin: content-box;
	background-clip: content-box;
	/*
		https://img.icons8.com/?size=512&id=vjT3C56Kcp5k&format=png
		https://img.icons8.com/?size=512&id=XgNrImBOX1KO&format=png
		https://img.icons8.com/?size=512&id=g1jYHowBS8BN&format=png
	*/
}

.content_decline_button {
	display: inline-block;
	margin-right: 10px;
	width: 20px;
	height: 24px;
	background-color: white;
	background-size: 22px;
	background-image: url(../icons/decline_button.png);
	background-repeat: no-repeat;
	cursor: pointer;
	border-left: 2px solid #52abff;
	padding-left: 5px;
	background-origin: content-box;
	background-clip: content-box;
	/*
		https://img.icons8.com/?size=512&id=41641&format=png
	*/
}

.content_publish_button {
	display: inline-block;
	width: 25px;
	height: 24px;
	background-color: white;
	background-size: 25px;
	background-image: url(../icons/publish_button.png);
	background-repeat: no-repeat;
	cursor: pointer;
	border-left: 2px solid #52abff;
	padding-left: 5px;
	background-origin: content-box;
	background-clip: content-box;
	/*
		https://img.icons8.com/?size=512&id=TDuPAzxEvfuE&format=png
		https://img.icons8.com/?size=512&id=g8ltXTwIfJ1n&format=png
		https://img.icons8.com/?size=512&id=ZznWGhUzgWtS&format=png
		https://img.icons8.com/?size=512&id=DsyNcvGdiwDH&format=png
		https://img.icons8.com/?size=512&id=FpuBglgBxX4C&format=png
	*/
}

blockquote {
	position: relative;
	width: 600px;
	margin-left: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 5px solid #52abff;
	border-radius: 2px;
	/*quotes: '«' '»';*/
}

blockquote::after {
	content: '”';
	font-family: 'Georgia', 'Times New Roman', serif;
	font-size: 30pt;
	color: #52abff;
	position: absolute;
	right: 0;
	top: 0.125em;
}