body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif; /*Golos,sans-serif;*/
	color: #161617;
	background-color: #ededed; /*e0e0e0 ededed a6d0e4*/
}

.container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.content_news {
	width: 100%;
	height: 100%;
	position: fixed;
	transform: translateX(28%);
	border-radius: 10px 10px 0 0 ;
	margin-top: 10px;
	background-color: white;
    overflow-y: scroll;
}

.list_news {
	width: 28%;
	height: 100%;
	/*color: #1a0841;*/
	position: relative;
}

.list_news ul {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Dudka Regular";
	src: url("fonts/Dudka Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "Dudka Bold";
	src: url("fonts/Dudka Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: bold; 
}

@font-face {
	font-family: "Dudka Thin";
	src: url("fonts/Dudka Thin.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: thin; 
}